/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    display: block;
    float: left;
    z-index: 1;
    background-color: #395381;
    overflow: hidden;
    padding: 1;
  }

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 10px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    background-color: inherit;
  }

  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: red;
    background-color: inherit;
  }

  .sidenav a:focus, .dropdown-btn:focus{
      color: red;
  }

  .dropdown-container {
      display: none;
  }

  .dropdown-btn a {
    padding: 0;
  }

  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .sidenav:hover .dropdown-container{
    display: inline-block;
    padding-left: 8px;
  }
